.product {
  -webkit-animation: slideIn 0.4s;
}

.updateAnimation {
  -webkit-animation: gelatine 0.5s;
}

.removeAnimation {
  -webkit-animation: slideFadeOut 1s;
}

@-webkit-keyframes slideIn {
  from {
    left: -300px;
    opacity: 0;
  } 
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFadeOut {
  from {
    height: 315px;
    opacity: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;
  } 
  to {
    height: 0px;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@-webkit-keyframes gelatine {
  from, to { 
    transform: scale(1, 1); 
  }
  25% { 
    transform: scale(0.9, 1.1); 
  }
  50% { 
    transform: scale(1.1, 0.9); 
  }
  75% { 
    transform: scale(0.95, 1.05); 
  }
}